{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block page_title %}Enter new password{% endblock %}
{% block page_heading%}{% endblock %}

{% block login-content %}
<div class="login_box">
  <h1>Enter New Password</h1>
  {% if validlink %}
  <form method="POST">
    {% csrf_token %}
    {{ form | as_bootstrap }}
    <input type="submit" value="Change my password">
  </form>

  {% else %}

  <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

  {% endif %}
</div>
{% endblock %}