{% extends "base.html" %}
{% load bootstrap_tags %}

{% block page_title %}{{ task_list.name }}{% endblock %}
{% block page_heading%}{{ task_list.name }}{% endblock %}

{% block content %}
<div class="task-list-container">
{% for task in tasks %}
<div class="card">
<div class="card-body task_list">
<table class="col-12">
    <tr>
        <td style="width: 20px;">
            <form action="">
                <label class="container">
                    <input class="form-check-input position-static" type="checkbox" name="completed" id="completed" {% if task.completed == 'Yes' %}checked {% endif %}>
                    <span class="checkmark"></span>
                </label>
            </form>
        </td>
        <td>
            <div>
                {{ task.name}}
            </div>
        </td>
        <td style="width: 60px;">
            <div class="task_extras">
                {% if task.assigned_to == user.id %}
                    {{user.username}}
                {% endif%}
            </div>
        </td>
        <td style="width: 20px;">
            <form action="">
                <label class="container">
                    <input class="form-check-input position-static" type="checkbox" name="importance" id="importance" {% if task.importance == 'Yes' %}checked {% endif %}>
                    <span class="checkmark1"></span>
                </label>
            </form>
        </td>
    </tr>
</table>            
</div>
</div>
{% empty %}
No Tasks Created
{% endfor %}
</div>
<hr>
<div class="enter-task-container">
    <form action="">
        <div class="input-group mb-3">
            <input type="hidden" name="new_task_list_id" id="id_new_task_list_id" value="{{ task_list.id }}">
            <input type="hidden" name="new_task_list_user" id="id_new_task_list_user" value="{{ user.id }}">
            <input type="text" class="form-control" id="id_new_task" name="new_task" placeholder="Start typing.." aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-success" type="button" id="button-addon2">Add Task</button>
            </div>
          </div>
    </form>
</div>
{% endblock %}