{% extends "base.html" %}
{% load bootstrap_tags %}

{% block page_title %}{{ task_list.name }}{% endblock %}
{% block page_heading%}{{ task_list.name }}{% endblock %}

{% block content %}
<div class="task-list-container">
{% for task in tasks %}
<p>{{ task.completed}}</p>
<p>{{ task.name}}</p>
<p>{{ task.description}}</p>
<p>{{ task.due_date}}</p>
<p>{{ task.importance}}</p>
<p>{{ task.assigned_to}}</p>
{% empty %}
<p>No Tasks Created</p>
{% endfor %}
</div>
<hr>
<div class="enter-task-container">
    <form action="">
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="id_new_task" name="new_task" placeholder="Start typing.." aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-success" type="button" id="button-addon2">Add Task</button>
            </div>
          </div>
    </form>
</div>
{% endblock %}