.login_box {
    text-align: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #707070;
    padding: 15px;
    background-color: white;
    margin-top: 15px;
}

body {
    background: url('../img/prism.png');
}

.external-con {
    background-color: white;
    padding: 15px;
    margin: 15px;
    border: 1px solid #707070;
}

.sidebar {
    border-right: 1px solid rgba(0,0,0,.1)
}

.menu_section {
    font-weight: bold;
    background-color: #f7f7f7;
    padding: 10px;
    margin-top: 10px;
    text-transform: uppercase;
}

.title_section {
    font-weight: bold;
    background-color: #f7f7f7;
    padding: 10px;
    margin-top: 10px;
    border-left: 5px solid black;
}

.top-header {
    border-bottom: 1px solid rgba(0,0,0,.1);
    margin-bottom: 10px;
}

.footer {
    border-top: 1px solid rgba(0,0,0,.1);
    margin-top: 10px;
    padding-top: 10px;
}

.nav-pills .nav-link {
    border-radius: 0px;
}

.btn {
    border-radius: 0px;
}

.form-control {
    border-radius: 0px;
}

.nav-link {
    color: #000;
    background-color: #f7f7f7;
    font-weight: bold;
    border-left: 5px solid #C41230;
    margin-bottom: 10px;
    background-image: linear-gradient(to left,
                                      transparent,
                                      transparent 50%,
                                      #C41230 50%,
                                      #C41230);
                   background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
}

.nav-link:hover {
    background-position: 0 0;
    color: white;
}

.dropdown-menu {
    border-radius: 0px;
}

.btn-settings {
    background-color: #C41230;
    border: none;
}

.btn-settings:hover, .btn-settings:active, .btn-settings:focus {
    background-color: #f14949 !important;
}

.collapsedTaskList {
    margin-left: 20px;
}

.add_list, .add_list:hover {
    color: black;
}

a.btn-danger, a.btn-danger:hover {
    color: white;
}

.task_extras{
    margin-left: auto;
    color: black;
}

.task_list {
    display: inline-flex;
}

.card-body {
    padding: 5px 10px;
}

.card {
    border-radius: 0px;
    margin-bottom: 5px;
}

.container input {position: absolute;opacity: 0;cursor: pointer;height: 0;width: 0;}

.checkmark {position: absolute;top: 5px;left: 0;height: 25px;width: 25px;background-color: #eee;border: 1px solid #C41230;border-radius: 25px;}
.container:hover input ~ .checkmark {background-color: #ccc;}
.container input:checked ~ .checkmark {background-color: #C41230;}
.checkmark:after {content: "";position: absolute;display: none;}
.container input:checked ~ .checkmark:after {display: block;}
.container .checkmark:after {left: 9px;top: 5px;width: 5px;height: 10px;border: solid white;border-width: 0 3px 3px 0;-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);}

#list_options_con {
    line-height:35px;
    float: right;
}

.dropdown-menu {
    line-height: 25px;
}

.LogoLink, .LogoLink:hover {
    color: black;
    text-decoration: none;
}

.TaskName, .TaskName:hover {
    color: black;
    text-decoration: none;
}

.TaskContainer:hover {
    text-decoration: none;
}

.TaskContainerInternal:hover {
    background-color: #dadada;
}

.TaskContainerInternal {
    transition: all 0.2s;
}

.checkboxstar {
    visibility:hidden;
    font-size:30px;
    cursor:pointer;
}
.checkboxstar:before {
   content: "\2605";
   position: absolute;
   visibility:visible;
   line-height: 13px;
   padding-left: 13px;
   color: #c41230;
}
.checkboxstar:checked:before {
   content: "\2606";
   position: absolute;
}