.login_box {
    text-align: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #707070;
    padding: 15px;
    background-color: white;
    margin-top: 15px;
}

body {
    background: url('../img/prism.png');
}

.external-con {
    background-color: white;
    padding: 15px;
    margin: 15px;
    border: 1px solid #707070;
}

.sidebar {
    border-right: 1px solid rgba(0,0,0,.1)
}

.menu_section {
    font-weight: bold;
    background-color: #f7f7f7;
    padding: 10px;
    margin-top: 10px;
    text-transform: uppercase;
}

.title_section {
    font-weight: bold;
    background-color: #f7f7f7;
    padding: 10px;
    margin-top: 10px;
    border-left: 5px solid black;
}

.top-header {
    border-bottom: 1px solid rgba(0,0,0,.1);
    margin-bottom: 10px;
}

.footer {
    border-top: 1px solid rgba(0,0,0,.1);
    margin-top: 10px;
    padding-top: 10px;
}

.nav-pills .nav-link {
    border-radius: 0px;
}

.btn {
    border-radius: 0px;
}

.form-control {
    border-radius: 0px;
}

.nav-link {
    color: #000;
    background-color: #f7f7f7;
    font-weight: bold;
    border-left: 5px solid black;
    margin-bottom: 10px;
    background-image: linear-gradient(to left,
                                      transparent,
                                      transparent 50%,
                                      black 50%,
                                      black);
                   background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
}

.nav-link:hover {
    background-position: 0 0;
    color: white;
}