{% extends 'base.html' %}

{% block page_title %}Your Lists{% endblock %}
{% block page_heading%}Your Lists{% endblock %}

{% block content %}
<p>Homepage</p>


{% for task_list in nav_task_lists %}
      {% for task_list_user in task_list_users %}
      {% if task_list_user.user_id == request.user.id and task_list_user.list_id == task_list.id and task_list_user.perm_view == 'Yes' %}
        
      {% if task_list.type == 'Normal' %}
      {{ task_list.name }}
      {% endif %}


        {% for sub_task_list in sub_task_lists %}
                {% if sub_task_list.parent_list == task_list.id %}
                {{sub_task_list.name}}
                {% endif %}
              {% endfor %}
      {% endif %}
      {% endfor %}
    {% endfor %}

{% endblock %}